.App {
  background-image: url("./bg2.jpg");
  background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
  background-blend-mode: multiply; /* Blend the background image with the background color */
  background-position: center;
  background-size: cover;
  color: white;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.project-holder {
  padding-bottom: 20px;
}

.project-title {
  font-size: 35px;
  font-style: italic;
}

.cards-container {
  width: 100vw;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.model-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.404);
  height: 40rem;
  width: 35%;
  border-radius: 1rem;
  padding-top: 1rem;
}

.enter-txt {
  line-height: 30px;
}

.model-form input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  caret-color: white;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  border-bottom: 0.2rem solid white;
  width: 80%;
}

.model-form input::placeholder {
  color: white;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}

.underline-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.predict-button {
  width: 40%;
  align-self: center;
  background-color: transparent;
  border: none;
  padding: 0.5rem 0rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: 0.15rem solid white;
  transition: all 300ms;
}

.predict-button:hover {
  background-color: rgba(255, 255, 255, 0.295);
  border-color: transparent;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  gap: 0.15rem;
}

.feature-label {
  width: 7rem;
  white-space: nowrap;
  text-align: left;
  margin-right: 0;
  font-size: 1.1rem;
  font-weight: 500;
}



.predictions-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.404);
  height: 40rem;
  width: 30%;
  border-radius: 1rem;
}

.predicted-title {
  line-height: 30px;
}

.predicted-desc {
  font-size: 18px;
  line-height: 26px;
  padding-left: 60px;
  padding-right: 60px;
  font-style: italic;
  padding-bottom: 20px;
}

.icon-label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.prediction {
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
}

.loader-holder {
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #6e34db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  margin-top: 100px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}